@font-face {
    font-family: Montserrat;
    src: url('/assets/fonts/Montserrat-Bold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: Montserrat;
    src: url('/assets/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Montserrat;
    src: url('/assets/fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1165px;
    margin: 0 auto;
}
.header{
    width: 100%;
    position: absolute;
    padding-top: 40px;
    &__wrap{
        display: flex;
        
    }
    &__elems{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__icons{
        display: flex;
        align-items: center;
    }
    &__btns{
        display: flex;
        align-items: center;
    }
    &__search{
        margin-right: 40px;
    }
}
.btn{
    color: white;
    font-weight: 800px;
    font-size: 14px;
    background-color: #156963;
    padding: 8px 33px;
    &_w{
        color: #156963;
        background-color: white;
    }
}
.main{
    &__wrap{
        display: flex;
        gap: 77px;
    }
    &__title{
        color: #156963;
        font-size: 68px;
        font-weight: 500;
        margin-bottom: 24px;
    }
    &__text{
        color: #2C1500;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 110px;
    }
    &__texts{
        margin-top: 146px;
        max-width: 523px;
    }
    &__btns{
        display: flex;
    }
    &__btn{
        width: 320px;
        padding: 40px 50px;
        &-subtitle{
            position: relative;
            color: #333333;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 12px;
            display: flex;
            &_p::before{
                content: '';
                display: block;
                background: url('../img/arrow-left.svg');
                width: 32px;
                height: 32px;
                margin-right: 9px;
            }
            &_n::after{
                content: '';
                display: block;
                background: url('../img/arrow-left.svg');
                width: 32px;
                height: 32px;
                margin-left: 9px;
                transform: rotate(180deg);
            }
        }
        &-text{
            color: #ffffff;
            font-size: 32px;
            font-weight: 500;
            &_g{
                color: #156963;
            }
        }
    }
}
.adventages{
    padding: 142px 0;
    &__cards{
        display: flex;
        align-items: center;
    }
    &__row{
        gap: 32px;
    }
    &__card{
        padding: 16px 20px ;
        border: 1px solid #E0E0E0;
    }
    &__block{
        display: flex;
        gap: 19px;
        margin-bottom: 16px;
    }
    &__title{
        color: #156963;
        font-size: 16px;
        font-weight: 800;
        max-width: 108px;
    }
    &__text{
        font-size: 10px;
        font-weight: 400;
    }
    &__img{
        max-width: 48px;
        max-height: 48px;
    }
}
.search{
    padding-bottom: 80px;
    &__type{
        display: flex;
        justify-content: space-between;
    }
    &__type::after{
        content: '';
        display: block;
        background: url('../img/arrow-down.svg');
        width: 12px;
        height: 12px;
        color: black;
        margin-left: -830px;
        font-weight: 500;
    }
    &__title{
        font-weight: 500;
    }
    &__plants{
        display: flex;
        align-items: center;
        &_block{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-title{
            margin-top: 16px;
        }
        &-text{
            font-weight: 600;
        }
    }
}
.relax{
    padding-bottom: 80px;
    &__block{
        display: flex;
        justify-content: space-between;
    }
    &__box{
        max-width: 568px;
    }
    &__texts{
        max-width: 522px;
    }
    &__title{
        font-weight: 700;
        font-size: 40px;
        color: #2C1500;
        margin-bottom: 16px;
    }
    &__text{
        font-weight: 400;
        font-size: 16px;
        color: #2C1500;
        margin-bottom: 74px;
    }
}
.shop{
    padding-bottom: 80px;
    &__block{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__box{
        max-width: 585px;
    }
    &__title{
        font-weight: 700;
        font-size: 40px;
        color: #2C1500;
        margin-bottom: 32px;
    }
    &__btn{
        padding: 10px 42px ;
        border: 0;
        background-color: #156963;
        color: #ffffff;
        font-weight: 600;
        font-size: 14px;
    }
}
.footer{
    padding: 71px;
    &__block{
        display: flex;
        justify-content: space-between;
    }
    &__box{
        margin-right: 80px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__logo{
        max-width: 283px;
    }
    &__perusahaan{
        max-width: 100px;
    }
    &__produk{
        max-width: 100px;
    }
    &__title{
        font-family: "Work Sans";
        font-weight: 500;
        font-size: 16px;
        &-margin{
            margin-top: 24px;
            margin-bottom: 10px;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 13px;
        &-margin{
            margin-top:20px;
            margin-bottom: 14px;
        }
    }
    &__email{
        display: flex;
        flex-direction: column;
    }
    &__input{
        margin-top: 14px;
        margin-bottom: 14px;
        border: 0;
        font-weight: 400;
        font-size: 12px;
    }
    &__btn{
        border: 0;
        background-color: #156963;
        color: #ffffff;
        padding: 4px 12px;
        margin-right: 140px;
        font-size: 8px;
        font-weight: 400;
    }
}